body{
      margin: 0; /* removes default browser spacing */
      background-color: rgb(151, 91, 151);
      border: 20px solid white; /* thickness, style, color */
      min-height: 100vh; /* makes sure border fills the screen */
      box-sizing: border-box; /* keeps border inside the viewport */
      } 
      iframe{
        width: 100%;
        height: 50px;
        border: 0; 
        display: inline-block;
      }
      h1{ /* title */
        color:pink;
        background:purple;
        text-align:center;
        font-family:cursive;
        font-size: 50px;
      }
      h2{ /* 2title */
        color:purple;
        background:pink;
        text-align:center;
        font-family:cursive;
        font-size: 40px;
      }
      h3{ /* subtitle */
        color:white;
        text-align:center;
        font-family:monospace;
        font-size: 30px;
      }
      h4{ /* text */
        color:rgb(255, 131, 218);
        text-align:center;
        font-family:verdana;
        font-size: 20px;
      }
     h5{ /* menu */
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
      }
      h6{ /*  */
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: serif;
        font-size: 10px;
      }
      

      
/*
<h1>  Main title Page title
<h2>	Section title	Major sections
<h3>	Subsection	Smaller sections
<h4>	Sub-subsection	Smaller
<h5>	Smaller heading	Minor
<h6>	Smallest heading	Least important
*/
      
